.body {
  overflow-y: auto;
  padding: 0;
  margin: 0;
  height: 100vh;
  background-image: url(../unnamed.png);

  .container {
    max-width: 800px;
    margin: 0 auto;
    color: white;
    object-fit: cover;
    //   display: flex;
    //   flex-direction: column;
    display: grid;

    h1 {
      color: rgb(49, 51, 56);
      margin-bottom: 0;
    }
    h2 {
      margin-bottom: 0;
      color: rgb(115, 255, 0);
    }

    .cop-container {
      display: flex;
      justify-content: space-evenly;
      padding: 10px 0px 10px;
    }
    button {
      margin-bottom: 10px;

      background-color: #006ce4;
      color: white;
      border: none;
      padding: 10px 10px;
      font-weight: bold;
      cursor: pointer;
      border-radius: 5px;
    }
    p {
      margin: 0;
    }
  }

  @media (max-width: 600px) {
    .container {
      max-width: 400px;
    }
  }
}
